/* for visualization - delete later */

.stamp-list-component {
  background-color: orange;
  padding: 10px;
}

.stamp-list-wrapper {
  background: rgb(221, 133, 133);
  padding: 10px;
}
.stamp-list-wrapper ul {
  background-color: white;
}

.index-pg {
  background-color: rgb(74, 180, 251);
  padding: 10px;
}

/* STAMP CSS */

/* stamps in a list */
.stamp-list-wrapper {
  display: grid;
  grid-template-rows: auto;
  row-gap: 5px;
}

.stamp-list-wrapper .title-row {
  font-weight: bold;
}

.stamp-list-wrapper ul {
  margin: 0;
  display: grid;
  grid-template-columns: 25px 1fr 2fr 1fr 3fr 1fr;
  padding-left: 0;
}

.stamp-list-wrapper ul li {
  list-style-type: none;
  border: 1px solid black;
}

/* stamps on single stamp page */
